# ignore the file named APIKeysSecret.plist
APIKeysSecret.plist

# ignore annoying DS_Store
.DS_Store
xcuserdata/
*.xcodeproj/*
**/xcshareddata/WorkspaceSettings.xcsettings
**/.env
**/node_modules/@types/**
**/node_modules/stripe/**